@media print {
  body * {
    visibility: hidden;
  }

  .cv, .cv * {
    visibility: visible;
  }

  .cv {
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: none;
    margin: 0;
  }
}
