* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  margin: 0;
  background: #0f172a;
  color: #e5e7eb;
}

header {
  text-align: center;
  padding: 30px;
  background: #020617;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 30px;
  padding: 30px;
}

.form-section {
  background: #020617;
  padding: 25px;
  border-radius: 10px;
}

.form-section input,
.form-section textarea {
  width: 100%;
  margin-bottom: 12px;
  padding: 10px;
  border-radius: 6px;
  border: none;
  background: #020617;
  color: #fff;
  border: 1px solid #1e293b;
}

.photo-upload {
  display: block;
  padding: 10px;
  background: #2563eb;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}
.photo-upload input {
  display: none;
}

/* CV */
.cv-preview {
  background: white;
  color: #111;
  display: grid;
  grid-template-columns: 35% 65%;
  min-height: 600px;
  border-radius: 8px;
  overflow: hidden;
}

.left {
  background: #0f172a;
  color: white;
  padding: 20px;
  text-align: center;
}

.left img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.right {
  padding: 30px;
}

h3 {
  margin-top: 20px;
  border-bottom: 2px solid #e5e7eb;
}

footer {
  text-align: center;
  padding: 15px;
  background: #020617;
  font-size: 14px;
}
